@font-face {
	font-family: "Share Tech Mono";
	font-weight: 400;
	font-style: normal;
	font-display: auto;
	unicode-range: U+000-5FF;
	src: url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
}